@layer tailwind-base, antd;

@layer tailwind-base {
  @tailwind base;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-form-item label {
  margin-bottom: 2px;
}

.ant-menu-item-selected {
  background-color: #e35112 !important
}

/* custom-popconfirm.css */
.custom-popconfirm .ant-popover-inner {
  background-color: #f0f0f0;
  /* Change background color */
  border-radius: 10px;
  /* Add rounded corners */
}

.custom-popconfirm .ant-popover-inner-content {
  font-size: 14px;
  /* Change font size */
  color: #333;
  /* Text color */
}

.custom-popconfirm .ant-popover-buttons {
  justify-content: center;
  /* Center the buttons */
}

.custom-popconfirm .ant-btn-primary {
  background-color: #ff4d4f;
  /* Customize primary button color */
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  --b: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 1px;
  background: conic-gradient(#836a6a00 10%, #f46f17b5) content-box;
  -webkit-mask:
    repeating-conic-gradient(#0000 0deg, #000 1deg 20deg, #0000 21deg 36deg),
    radial-gradient(farthest-side, #0000 calc(100% - var(--b) - 1px), #000 calc(100% - var(--b)));
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation: l4 1s infinite steps(10);
}

@keyframes l4 {
  to {
    transform: rotate(1turn)
  }
}